@import '../index.scss';

$border-radius: 3px;
$border: 3px;
$clear-width:35px;

.input {
  min-width: 300px;
  padding: 10px 15px;
  padding-right: calc($clear-width + 15px);
  border: $border solid $color-lightgray;
  border-radius: $border-radius;
  font-size: $font-size-medium;
  font-family: $font-family-main;
  outline: none;
  transition: .4s;

  &:focus {
    border: $border solid $color-violet;
  }
}


.wrapper {
  &__input {
    position: relative;
    display: inline-flex;
  }
}

.clear {
  position: absolute;

  top: $border;
  right: $border;
  width: $clear-width;
  height: calc(100% - $border*2);
  padding: 10px;
  object-fit: contain;
  object-position: center center;
  transition: .4s;
  opacity: .4;
  cursor: pointer;

  &__disabled {
    opacity: .2;
  }
}