@import '../../../styles/colors.scss';

.link {
  display: inline-flex;
  align-items: center;
  margin-top: 15px;
  font-weight: $font-bold;
  color: $color--yellow;
  text-decoration: none;

  &__img {
    width: 30px;
    height: 30px;
    margin-right: $spacing-small;
    object-fit: cover;
    object-position: center center;
  }
}