@import '@styles/colors.scss';

.header {
  text-decoration: underline;
}

.wrapper {
  max-width: 100%;
	width: $width-max;
  margin: 0 auto;
  padding: $spacing-large 0;
}

@media screen and (max-width: 1400px) {
  .wrapper {
    padding: $spacing-large $spacing-large;
  }
}