$font-size-small: 14px;
$font-size-medium: 16px;
$font-family-main: sans-serif;
$font-weight-bold: 600;

$border-radius-small: 3px;

$color-white:#fff;
$color-black:#000;
$color-grey:#9c9c9c;
$color-lightgray: #dfe2df;
$color-violet: #a772c2;

*, *:after, *:before{
  box-sizing: border-box;
}

img {
  display: block;
}